/* Adam Purdon */

/* Spartan 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /* off white */
    --off-white: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    /* Primary colors */
    --primary-dark-magenta: hsl(300, 43%, 22%);
    --primary-soft-pink: hsl(333, 80%, 67%);

    /* Neutral colors */
    --neutral-dark-gray: hsl(303, 10%, 53%);
    --neutral-light-gray: hsl(300, 24%, 96%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-weight: 400;
    background-color: var(--white);
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 35%, 35%;
    background-attachment: fixed, fixed;
    background-position: top left, bottom right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 560px;
    min-height: 560px;
    width: 1050px;
    min-width: 1050px;
}

.blurp {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
}

.blurp h1 {
    font-size: 3em;
    line-height: 44px;
    letter-spacing: -2px;
    margin-bottom: 15px;
    color: var(--primary-dark-magenta);
}

.blurp p {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1px;
    color: var(--neutral-dark-gray);
}

.reviews {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
}

.rectangle {
    height: 55px;
    width: 425px;
    background-color: var(--neutral-light-gray);
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.review-one {
    align-self: flex-start;
}

.review-two {
    align-self: center;
}

.review-three {
    align-self: flex-end;
}

.stars {
    height: 100%;
    width: 110px;
    background-image: url(./images/icon-star.svg), url(./images/icon-star.svg), url(./images/icon-star.svg), url(./images/icon-star.svg), url(./images/icon-star.svg);
    background-position: left center, 23px center, 46px center, 69px center, 92px center;
    background-size: 16px;
    background-repeat: no-repeat;
    margin-right: 35px;
    margin-left: 35px;
}

.reviews p {
    font-size: 13px;
    font-weight: 700;
    color: var(--primary-dark-magenta);
    letter-spacing: -0.5px;
}

.testimonials {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: red;
}
